<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: "Amy's Website" }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>
    <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/main.png' | relative_url }}" alt="amy's website" class="main_icon">
    </a>

    {{ content }}
</body>
</html>
