body {
    background-color: rgb(201, 230, 173);
  }
  
h1 {
    color: rgb(90, 48, 25);
    margin-left: 1rem;
}

h2 {
    color: rgb(90, 48, 25);
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 1rem;
    
}

.main_icon {
    width: 15rem;
}

.bloglinksimg {
    height: 6rem;
}
.column-1 {
    float: left;
    width: 70%;
}
.column-2 {
    float: left;
    width: 30%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.main_buttons {
    height: 4rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.cat_picture {
    width: 20rem
}

.concert_picture {
    width: 30rem
}

.concert_text {
    vertical-align: top;
    padding-left: 2rem;
}
